[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r src/requirements.txt"
]

[start]
cmd = "cd src && python -m gunicorn --bind 0.0.0.0:$PORT --workers 2 --timeout 120 main:app"
