:root {
    --main-color: #4E3B2C;
    --inactive-color: #CACACA;
    --bg-color: #F3F3F3;
    --white-color: white;
    --black-color: black;
    --error-status-color: #D10000;
    --success-status-color: #818181;
}

.title-text {
    color: var(--black-color);
    font-size: 16px;
    line-height: 22px;
}

.button-text {
    font-size: 14px;
    line-height: 18px;
}

.main-text {
    color: var(--inactive-color);
    font-size: 12px;
    line-height: 22px;
}

.mini-text {
    color: var(--inactive-color);
    font-size: 10px;
    line-height: 15px;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    padding: 16px;
    margin: 0 auto;
}

/*===============Password form===============*/

.login-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card-password {
    display: flex;
    background-color: var(--white-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) ;
    padding: 10px;
    margin: 16px;
    border-radius: 12px;
    width: 300px;
}

.form-password {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: column;
}

.password-input {
    width: 100%;
    border-radius: 8px;
    background-color: var(--bg-color);
    border: 1px solid var(--inactive-color);
    outline: none;

    box-sizing: border-box;
    padding: 9px 0 9px 7px;
}

.password-input:focus {
    border: 1px solid var(--main-color);
}

.password-input::placeholder {
    color: var(--inactive-color);
}

.button-enter {
    width: 100%;
    padding: 9px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--main-color);

    color: var(--white-color);
    text-align: center;
}

